<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background: linear-gradient(90deg,#318be3,#04befe);padding-bottom: 0px;"
  id="mainNav">
  <div class="contenedorHeader d-flex">
    <div class="mr-auto p-2">
      <a class="titulo navbar-brand" style="font-size: 1.1rem" routerLink="/admin">{{_is.info.titulo}}</a>
    </div>
    <div class="usuario p-2" style="display:none">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle .bg-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Usuario
        </button>
        <div class="dropdownMenu dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdownSelect dropdown-item" data-toggle="modal" data-target="#exampleModal">Cerrar Sesión</a>
        </div>
      </div>
    </div>
  </div>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navBar navbar-nav navbar-sidenav" id="exampleAccordion">
      <li>
        <div class="card userCard">
          <div class="userCardBody card-body">
            <h5>Bienvenido</h5>
            <h4>USUARIO</h4>
          </div>
        </div>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
          <i class="fa fa-fw fa-wrench"></i>
          <span class="nav-link-text">Procesos</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseComponents">
          <li>
            <a routerLink="/admin/registrar">Registrar</a>
          </li>
          <li>
            <a routerLink="/admin/consultar">Consultar</a>
          </li>
          <li>
              <a routerLink="/admin/gant">Gant</a>
            </li>
        </ul>
      </li>
    </ul>
    <ul class="navbar-nav sidenav-toggler">
      <li class="nav-item">
        <a class="nav-link text-center" id="sidenavToggler">
          <i class="fa fa-fw fa-angle-left"></i>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
          <i class="fa fa-fw fa-sign-out"></i>Salir</a>
      </li>
    </ul>
  </div>
</nav>