<div class="container-fluid">
  <app-bread-crumb></app-bread-crumb>
  <div class="row">
    <div class="col-12 p-4">
      <!-- <app-consultar-convenio></app-consultar-convenio>  --> 
      <router-outlet></router-outlet>
    </div>
  </div>
</div>