html{
    font-size: 16px!important;
}
.body{
    padding-top: 20px;
}
.formulario{
    border-radius: 0.5rem;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:rgba(37, 34, 34, 0.2)
}
#mainNav.fixed-top.navbar-dark .sidenav-toggler a i {
    color: #fff;
}
.titulo{
    color: white;
}
.lbl{
    color: white;
}
.boton{
    padding-top: 10px;
}
.modalPdf{
    height: 200rem!important;
}
body.sticky-footer {
    margin-bottom: 0px;
}
.cardContent {
    border-radius: 0.25rem;
    border: 0;
    background-color: #fff;
}
.btn-secondary {
    color: #fff;
    background-color: initial;
    border-color:rgba(255,255,255,.1)
}
.btn-secondary:hover {
    color: #fff;
    background-color:initial;
    border-color:initial;
}
.btn-secondary.focus, .btn-secondary:focus {
    box-shadow: initial;
}
.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: initial;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: initial;
    border-color: initial;  
}
.dropdownMenu {
    border: 1px solid rgba(0,0,0,.15)!important;
    
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color:initial;
}
secondary.dropdown-toggle {
    color: #fff;
    background-color:initial;
    border-color:initial;
}
.content-wrapper {
    background: #f2f7f8;
}
#mainNav.fixed-top.navbar-dark .sidenav-toggler {
    background: linear-gradient(90deg,#318be3,#04befe);
}
.content-wrapper {
    padding-top: 50px;
}
.container-fluid{
    padding-top: 20px;
}
.breadcrumb {
    margin-bottom: 0px;
}
@media (min-width: 576px) {
    .usuario{
        display:initial!important;
    }
    .titulo{
        font-size:1.3rem!important;
    }
    .contenedorHeader{
        width: 89%;
        color:black;
    }
}
.userCard{
    width:15.5rem;
    display:none;
    border: initial;    
}
.userCardBody{
    color:#818182;
    padding-top: 30px;
    padding-bottom: 0px;
}
.userCard.ocultar{
    display:none!important;
}
.userCard.ocultar .userCardBody{
    display:none!important;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
    color: #f8f9fa;
}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover {
    color: #ced4dac7;
}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
    color: #f8f9fa;
}
.btn-primary {
    color: #fff;
    background-color: #1991EB;
    border-color: #1991EB;
}
.btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    background-color: #127ccc;
    background-image: none;
    border-color: #1175c0;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1.5);
}
@media (min-width: 992px) {
    .userCard{
        display:initial!important;
    }
    .navBar{
        margin-top:75px!important;
    }
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
        background: initial;
    }
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
        background: initial;
    }
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
        color: #818182;
    }
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover {
        color: rgba(0, 0, 0, 0.5);
    }
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a{
        color:#818182;
    }
}