<!-- Contenedor Global-->
<div class="content-wrapper">
  <app-contenedor-body></app-contenedor-body> 
  <app-footer></app-footer>
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>
  <app-modal-logout></app-modal-logout>
</div>