<!-- Modal mensaje pequeño acerca de DETALLE al medio de la pantalla-->
<div class="modal fade" id="ModalCenterDetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalle de convenio....</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Dato 1:</label>
            <input type="text" class="form-control" style="cursor: not-allowed;" id="recipient-name" placeholder="contenido de ejemplo"
              disabled>

            <!--      <label for="disabledInput" class="col-sm-2 control-label">Disabled</label>
                      <div class="col-sm-10">
                        <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled>
                      </div> -->


          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Dato 2:</label>
            <textarea class="form-control" id="message-text" style="cursor: not-allowed;" placeholder="contenido de ejemplo campo texto"
              disabled></textarea>
          </div>
          <div class="form-group">
            <!-- PDF -->
            Aqui va el pdf


          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar ventana</button>
      </div>
    </div>
  </div>
</div>
<!-- FIN Modal -->