<div class='bg-dark principal'>
  <section class="header mb-4">
    <div class="container">
      <nav class="navbar navbar-light bg">
        <img class="float-xl-left" style="height: 70px" src="../../../assets/img/logo.png" alt="">
        <img class="float-xl-right" style="height: 70px" src="../../../assets/img/logoSM.png" alt="">
      </nav>
    </div>
  </section>
  <div class="container">
    <div class="titulo text-center">
      <h2>Sistema de Seguimiento de Convenios</h2>
    </div>
    <div class="formulario card card-login mx-auto mt-4 lbl">
      <div class="card-body">
        <form>
          <div class="form-group row">
            <div class="col-12">
              <label class="lbl" for="exampleInputEmail1">USUARIO</label>
            </div>
            <div class="col-12">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Escriba su correo" aria-label="Recipient's username" aria-describedby="basic-addon2"
                  required>
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">@unmsm.edu.pe</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12">
              <label class="lbl" for="exampleInputEmail1">CONTRASEÑA</label>
            </div>
            <div class="col-12">
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Escriba su contraseña" required>
            </div>
          </div>
          <div class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Recuerde su contraseña</label>
            </div>
          </div>
          <button class="btn btn-primary btn-block" type="submit" routerLink="/admin">Ingresar</button>
        </form>
        <!-- <div class="text-center">
          <a class="d-block small mt-3" href="register.html">Register an Account</a>
          <a class="d-block small
          " href="forgot-password.html">Forgot Password?</a>
        </div> -->
      </div>
    </div>
  </div>
</div>