.principal{
    background: url("../../../assets/img/01.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -2;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);  
}

section{
    z-index: 2;
}