 <!-- Modal mensaje pequeño acerca de QR al medio de la pantalla-->
 <div class="modal fade" id="ModalCenterQR" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Convenio XYZ</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <img src="images/codigo-qr.jpg" class="rounded img-fluid" alt="Responsive image">
            <!--     <img src="" class="rounded img-fluid" alt="Responsive image">
                      -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Descargar QR</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- FIN Modal -->