<h3 class="mb-4" style="color: #818182;">Gant</h3>
<div class="cardContent card p-4 animated fadeIn">
    <form>
      <div class="form-group">
        <div class="form-row">
          <div class="col-md-6 mb-1">
            <label for="exampleInputName">Fecha Inicio</label>
          </div>
          <div class="col-md-6">
            <label for="exampleInputLastName">Fecha Final</label>
            <input placeholder="01/01/2018" id="datepicker"/>
          </div>
        </div>
      </div>
      <div class="input-group mt-4">
        <div class="input-group-prepend">
          <span class="input-group-text">Subir documento</span>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile01">
          <label class="custom-file-label" for="inputGroupFile01">Elegir archivo</label>
        </div>
      </div>
    </form>
  </div>