.custom-file-label::after {
    content: "Buscar"!important;
}
dp-date-picker {
    display: block;
}
.dp-picker-input{
    height: auto!important;
    width: 100%!important;    
}
dp-date-picker.dp-material .dp-picker-input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: initial!important;
    width: 100%!important;
    font-size: initial!important;
    outline: none;
}
.typeahead-input, .typeahead-typeahead{
    width: 250px;
    padding: 8px;
    border-radius: 5px;
}