<h3 class="mb-4" style="color: #818182;">Registrar Convenio</h3>
<div class="cardContent card p-4 animated fadeIn">
  <form [formGroup]="convenioForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="form-row">
        <div class="col-md-6 mb-1">
          <label for="exampleInputName">Codigo de convenio</label>
          <input class="form-control" id="codConvenio" type="text" name="codConvenio" formControlName="codConvenio" placeholder="ejm. 081 - 2017">
          <!-- <div [hidden]="codConvenio.valid || codConvenio.untouched">
            <div>
              Los siguientes problemas pudieron haber sido encontrados con el codigo:
            </div>
      
            <div [hidden]="!codConvenio.hasError('minlength')">
              Codigo no puede ser menor a 5 caracteres.
            </div>
            <div [hidden]="!codConvenio.hasError('required')">
              El Codigo es requerido.
            </div>
          </div> -->
        </div>
        <div class="col-md-6 mb-1">
          <label for="exampleInputName">Titulo</label>
          <input class="form-control" id="titulo" type="text" name="tituloConvenio" formControlName="tituloConvenio" placeholder="Ingrese un titulo">
        </div>
        <div class="col-md-6 mb-1">
          <label for="exampleInputName">Descripción</label>
          <input class="form-control" id="descripcion" type="text" name="desConvenio" formControlName="desConvenio" placeholder="Ingrese una descripción">
        </div>
        <div class="col-md-6 mb-1">
          <label for="exampleInputName">Expediente del convenio</label>
          <input class="form-control" id="nroExpediente" type="text" name="nroExpediente" formControlName="txtExpediente" placeholder="ejm. 1520-FE-2017">
        </div>
        <div class="col-md-6 mb-1">
          <label for="exampleInputName">Resolucion Rectoral</label>
          <input class="form-control" id="nroResolucion" type="text" name="nroResolucion" formControlName="txtResRectoral" placeholder="ejm. R45-S1666">
        </div>
        <div class="col-md-6 mb-1">
          <label for="exampleInputName">Codigo de archivo</label>
          <input class="form-control" id="codArchivo" type="text" name="codArchivo" formControlName="txtCodArchivo" placeholder="ejm. 12134">
        </div>
        <div class="col-md-6 mb-1">
          <label for="exampleInputName">Archivos</label>
          <div class="custom-file">
            <input type="file" accept="application/pdf" class="custom-file-input" (change)="onFileChange($event)" id="archivoConvenio"
              name="archivoConvenio" #fileInput>
            <label class="custom-file-label" for="inputGroupFile01">{{nombrePdf}}</label>
          </div>
        </div>
        <div class="col-md-6 mb-1">
          <label for="exampleInputName">Institución origen</label>
          <input class="form-control" id="instOrigen" type="number" name="instOrigen" formControlName="idInstitucionOrigen" placeholder="ejm. Facultad de Educación">
        </div>
        <div class="col-md-6 mb-1">
          <label for="exampleInputName">Institución destino</label>
          <input class="form-control" id="instDestino" type="number" name="instDestino" formControlName="idInstitucionDestino" placeholder="ejm. Ministerio de Educación">
        </div>
        <div class="col-md-6 mb-1">
          <label for="exampleInputName">Tipo de convenio</label>
          <select class="custom-select" id="tipoConvenio" name="tipoConvenio" formControlName="idTipoConvenio">
            <option selected>Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-md-6 mb-1">
          <label for="exampleInputName">Modalidad</label>
          <select class="custom-select" id="modalidad" name="modalidad" formControlName="idModalidad">
            <option selected>Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-md-6 mb-1">
          <label for="exampleInputLastName">Fecha de ingreso</label>
          <div class="input-group">
            <dp-date-picker [config]="datePickerConfig" theme="dp-material" id="fecIngreso" formControlName="fechaIngreso" placeholder="ejm. 06/09/2017"></dp-date-picker>
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-1">
          <label for="exampleInputLastName">Fecha suscripción</label>
          <div class="input-group">
            <dp-date-picker [config]="datePickerConfig" theme="dp-material" id="fecSuscripcion" formControlName="fechaSuscripcion"></dp-date-picker>
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-1">
          <label for="exampleInputLastName">Fecha cese</label>
          <div class="input-group">
            <dp-date-picker [config]="datePickerConfig" theme="dp-material" id="fecCese" formControlName="fechaCese"></dp-date-picker>
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-1">
          <label for="exampleInputName">Población beneficiada</label>
          <input class="form-control" id="pobBeneficiada" type="text" name="pobBeneficiada" formControlName="poblacionBeneficiada"
            placeholder="Ingrese una descripción">
        </div>
        <div class="col-md-6 mb-1">
          <label for="exampleInputName">Monto</label>
          <input class="form-control" id="monto" type="number" name="monto" formControlName="monto" placeholder="Ingrese una descripción">
        </div>
      </div>
    </div>
    <div class="text-center p-4">
      <div class="btn-group-vertical" id="botones">
        <button class="botones btn btn-primary" type="button" data-toggle="modal" data-target="#verPDF" [disabled]="!verPdf">Ver Pdf</button>
        <button class="botones btn btn-primary" type="submit">Registrar convenio
          <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
        </button>
        <button class="botones btn btn-primary" type="button" href="#" id="toggleNavColor">cancelar</button>
      </div>
    </div>
  </form>
</div>

<!-- Modal -->
<div class="modal fade" id="verPDF" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{nombrePdf}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <pdf-viewer [src]="pdfSrc" [render-text]="true" style="display: block;"></pdf-viewer>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secundary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>