<app-modal-detalle-convenio>
</app-modal-detalle-convenio>
<app-modalqr></app-modalqr>
<h3 class="mb-4" style="color: #818182;">Consultar Convenio</h3>
<div class="cardContent card p-4 animated fadeIn">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <input *ngIf="config.filtering" placeholder="Filtrar todas las columnas" [ngTableFiltering]="config.filtering" class="form-control"
          (tableChanged)="onChangeTable(config)" />
      </div>
    </div>
    <br>
    <div class="contTable">
      <ng-table [config]="config" (tableChanged)="onChangeTable(config)" (cellClicked)="onCellClick($event)" [rows]="rows" [columns]="columns">
      </ng-table>
    </div>
    <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
      [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
    </pagination>
    <pre *ngIf="config.paging" class="card card-block card-header">Pagina: {{page}} / {{numPages}}</pre>
    <!-- <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th style="text-align: center">Convenio</th>
            <th style="text-align: center">Dato Convenio</th>
            <th style="text-align: center">QR</th>
            <th style="text-align: center">Detalle</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th style="text-align: center">Convenio</th>
            <th style="text-align: center">Dato Convenio</th>
            <th style="text-align: center">QR</th>
            <th style="text-align: center">Detalle</th>
          </tr>
        </tfoot> 
        <tbody *ngIf="_cs.convenios.length>0 && !cargando" >
          <tr *ngFor="let convenio of _cs.convenios">
            <td>{{convenio.title}}</td> 
            <td>{{convenio.description}}</td>
            <td style="text-align: center">
              <button type="button" class="btn btn-link" data-toggle="modal" data-target="#ModalCenterQR">
                <i data-toggle="modal" class="fa fa-qrcode fa-2x" aria-hidden="true"></i>
              </button>
            </td>
            <td style="text-align: center">
              <button type="button" class="btn btn-link" data-toggle="modal" data-target="#ModalCenterDetalle" data-whatever="@mdo">
                <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div> -->
  </div>
  <!--         <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
--></div>